.brothersPledgeYear {
  font-size: 20px;
  margin-bottom: 10px;
}

div.brothersListWrapper {
  margin: 20px 0;
}

div.brothersList {
  padding: 10px;
  font-size: 15px;
}

div.brothersList a {
  text-decoration: none;
  color: black;
}

div.brothersList a:hover {
  color: #962c21;
}
