.brothersPledgeYear {
  font-size: 20px;
  margin-bottom: 10px;
}

div.brothersListWrapper {
  margin: 20px 0;
}

div.brothersList {
  padding: 10px;
  font-size: 15px;
}

div.brothersList a {
    display:block;
    text-decoration: none;
    text-align:center;
    color: black;
    padding:.3em;
}

div.brothersList a:hover {
    color:white;
    background-color:red;
}

div.brothersList ul {
    list-style:none;
}

div.brothersList li {
    list-style:none;
    float:left;
    margin: .3em;
}

div.brothersList p.brotherName {
    margin-top:auto;
    margin-bottom:auto;
}

img.brotherPicture {
    margin-right:auto;
    margin-left:auto;
    padding:.3em;
    clear:both;
    width:4em;
    height:4em;
}