* { margin: 0; padding: 0; font-family: sans-serif; }

body {
  background: #ddd;
  height:100%;
}

/* Navigation menu w/CSS dropdown */
div#baseNavListCentering {
  float:left;
  left:50%;
  position:relative;
  z-index:6;
}

div#baseNavListCentering > div:first-child {
  float:left;
  left:-50%;
  position:relative;
}

ul#baseNavList {
  list-style:none;
  text-align:center;
}

ul#baseNavList a {
  display:block;
  text-decoration:none;

  color:black;
  padding:.5em 1em;;
}

ul#baseNavList > li {
  float:left;
  width:auto;
  position:relative;

  border-right:1px solid #000;
  -moz-box-shadow:  inset 0 0 1px #000000;
  -webkit-box-shadow: inset 0 0 1px #000000;
  box-shadow:     inset 0 0 1px #000000;
}

ul#baseNavList > li:first-child {
  border-left:1px solid #000;
}

ul#baseNavList li > a:hover {
  color:white;
  background: #bcbcbc; /* for non-css3 browsers */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#575757', endColorstr='#9a9a9a'); /* IE */
  background: -webkit-gradient(linear, left top, left bottom, from(#575757), to(#9a9a9a)); /* webkit*/
  background: -moz-linear-gradient(top,  #575757,  #9a9a9a); /* firefox */
}


ul#baseNavList li.active > a {
  background: #962c21; /* for non-css3 browsers */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#962c21', endColorstr='#681f17'); /* IE */
  background: -webkit-gradient(linear, left top, left bottom, from(#962c21), to(#681f17)); /* webkit*/
  background: -moz-linear-gradient(top,  #962c21,  #681f17); /* firefox */
  color: #fff;
}

/* Sub-menu specific */
ul#baseNavList ul {
  list-style:none;
  display:block;
  position:absolute;
  text-align:left;
  left:-999999px;
  margin-left:-1px;
  padding: 0;
  overflow: hidden;
  border: solid #000;
  border-width: 0 1px 1px;
  -moz-box-shadow: 0 0 7px #000;
  -webkit-box-shadow: 0 0 7px #000;
  box-shadow: 0 0 7px #000;
  /* For IE 8 */
  -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=0, Color='#000000')";
  filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=0, Color='#000000');
}

ul#baseNavList ul li {
  float:none;
  min-width:5em;
  width:auto;
}

ul#baseNavList ul a {
  white-space:nowrap;

  background: #ddd;
  border-top: 1px solid #000;
}

ul#baseNavList li:hover ul {
  left:0;
}

ul#baseNavList li ul a:hover {
  background:#777;
}

/* End navigation menu */

#baseNavMenuBG {
  width:100%;
  float:left;
  position:absolute;
  z-index:6;
  max-height: 40px;
  border: solid #000;
  border-width: 1px 0;
  background: #bcbcbc; /* for non-css3 browsers */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#dadada', endColorstr='#979797'); /* IE */
  background: -webkit-gradient(linear, left top, left bottom, from(#dadada), to(#979797)); /* webkit*/
  background: -moz-linear-gradient(top,  #dadada,  #979797); /* firefox */
  -moz-box-shadow: 0 0 7px #000;
  -webkit-box-shadow: 0 0 7px #000;
  box-shadow: 0 0 7px #000;
  /* For IE 8 */
  -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=0, Color='#000000')";
  filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=0, Color='#000000');
}

#baseBanner {
  margin: auto;
  min-height: 150px;
  width: 100%;
  text-align: center;
  background: #fff;
  background-image: url('/static/images/menu/banner.png');
  background-image: -webkit-linear-gradient(top, rgba(255,255,255,0), rgba(100,100,100,.4)), url('/static/images/menu/banner.png');
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255,255,255,0)), to(rgba(100,100,100,.4))), url('/static/images/menu/banner.png');
  background-repeat: no-repeat;
  background-image: -moz-linear-gradient(rgba(255,255,255,0), rgba(100,100,100,.4)), url('/static/images/menu/banner.png');
  background-position: center;
  margin-bottom: 20px;
  border-bottom: 1px solid #000;
  -moz-box-shadow: 0 0 7px #000;
  -webkit-box-shadow: 0 0 7px #000;
  box-shadow: 0 0 7px #000;
  /* For IE 8 */
  -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=0, Color='#000000')";
  filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=0, Color='#000000');
}

div.baseContainer {
  position: relative;
  margin:0 auto;
  clear:both;
  display:block;
  background: #fff;
  padding: 40px 20px 60px;
  margin-top: 40px;
  border: 1px solid #000;
  width:75%;
  min-height:100%;
  height:auto !important;
  height:100%;
  -moz-box-shadow: 0 0 10px #000;
  -webkit-box-shadow: 0 0 10px #000;
  box-shadow: 0 0 10px #000;
  /* For IE 8 */
  -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=0, Color='#000000')";
}

.baseContent {
  clear:both;
  display:block;
}

.baseFooter {
  bottom:10px;
  width:100%;
  margin-top: 50px;
  z-index:5;
  text-align: center;
  font-size: 15px;
}

.baseFooter a {
  text-decoration: none;
  color: #000;
}

.baseFooter a:hover {
  color: #962c21;
}

input, textarea {
  margin: 10px;
}

input[type=text], input[type=password], textarea {
  padding: 5px;
  font-size: 15px;
  border: 1px solid #000;
  -moz-box-shadow:  inset 0 0 1px #000000;
  -webkit-box-shadow: inset 0 0 1px #000000;
  box-shadow:     inset 0 0 1px #000000;
}

input[type=submit], input[type=button] {
  padding: 5px 10px;
  border: 1px solid #000;
  font-size: inherit;
  cursor: pointer;
  background: #dadada;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#dadada', endColorstr='#979797'); /* IE */
  background: -webkit-gradient(linear, left top, left bottom, from(#dadada), to(#979797)); /* webkit*/
  background: -moz-linear-gradient(top,  #dadada,  #979797); /* firefox */
  -moz-box-shadow: 0 0 7px #000;
  -webkit-box-shadow: 0 0 7px #000;
  box-shadow: 0 0 7px #000;
  /* For IE 8 */
  -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=0, Color='#000000')";
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

input[type=submit]:hover, input[type=button]:hover {
  background: #962c21; /* for non-css3 browsers */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#962c21', endColorstr='#681f17'); /* IE */
  background: -webkit-gradient(linear, left top, left bottom, from(#962c21), to(#681f17)); /* webkit*/
  background: -moz-linear-gradient(top,  #962c21,  #681f17); /* firefox */
  color: #fff;
}

input[type=submit]:active, input[type=button]:active {
  background: #962c21; /* for non-css3 browsers */
}

td.baseForm {
  height: 50px;
}

span.baseForm.helpText, span.baseForm.errorText {
  padding: 5px;
  margin: 10px;
  font-size: 12px;
  max-width: 40%;
  display: inline-block;
}

span.baseForm.errorText {
  color: red;
}

td.baseForm input[type=submit] {
  float: right;
}

h1 {
  margin-bottom: 10px;
}
