{% extends "base.html" %}

{% block content %}
<h1>Assign Fine</h1>
<form method="post" id="" action="">
  {% csrf_token %}
  <table>
    <tr>
      <td><label>Brother [Required]:</label></td>
      <td>
        <select name="brother">
          {% for brother in actives %}
          <option value="{{ brother.pk }}">{{ brother.first_name }} {{ brother.last_name }}</option>
          {% endfor %}
        </select>
      </td>
    </tr>
    {% for field in form %}
    <tr class="baseForm">
      <td class="baseForm">{{ field.label_tag }}{% if field.field.required %} [Required]{% else %} [Optional]{% endif %}:</td>
      <td class="baseForm">{{ field }}
        {% if field.errors %}
        <span class="baseForm errorText">{% for error in  field.errors %}{{ error }} {% endfor %}</span>
        {% else %}
        {% if field.help_text %}
        <span class="baseForm helpText">{{ field.help_text }}</span>
        {% endif %}
        {% endif %}
      </td>
    </tr>
    {% endfor %}
  </table>
  <input type="submit" name="Submit" value="Submit" />
</form>
{% endblock %}
