<html>
  <head>
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}stylesheets/global.css" />
    <link rel="stylesheet" href="{{ STATIC_URL }}stylesheets/utilities.css" type="text/css" />
    {% block stylesheets %}{% endblock %}
    <title>{% block title %}Chi Phi Beta Chapter{% endblock %}</title>
  </head>

  <body>
    <div class="baseBanner"><img src="{{ STATIC_URL }}images/menu/cplogo_menu.png" alt="hi" /></div>
    <div class="baseNav">
      <div class="baseNavLinkList">
      <a href="{% url home %}">
        <span class="baseIdFirstInNav {% block menu_home %}{% endblock %}">Home</span>
      </a>
      <a href="{% url brothers %}">
        <span class="{% block menu_brothers %}{% endblock %}">Brothers</span>
      </a>
      <a href="{% url house %}">
        <span class="{% block menu_house %}{% endblock %}">House</span>
      </a>
      <a href="{% url contact %}">
        <span class="{% block menu_contact %}{% endblock %}">Contact</span>
      </a>
      {% if user.is_authenticated %}
        <a href="{% url edit_profile %}">
          <span class="{% block menu_edit_profile %}{% endblock %}">Edit Profile</span>
        </a>
        <a href="{% url logout %}">
          <span class="{% block menu_logout %}{% endblock %}">Logout</span>
        </a>
      {% endif %}
      </div>
    </div>

    <div class="baseContainer cf">
      <div class="baseContent cf">
         {% block content %}{% endblock %}
      </div>
      <div align="center" class="baseFooter">
        <a href="{% url login %}">Login</a> | 
        <a href="{% url brothers %}">About Us</a>
      </div>
    </div>
  </body>
</html>
