<html>
  <head>
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}stylesheets/global.css" />
    <link rel="stylesheet" href="{{ STATIC_URL }}stylesheets/utilities.css" type="text/css" />
    {% block stylesheets %}{% endblock %}
    <title>{% block title %}Chi Phi Beta Chapter{% endblock %}</title>
  </head>

  <body>
    <div class="baseBanner" align="center"></div>
    <div class="baseNav">
      <div class="baseNavLinkList">
      <span class="baseIdFirstInNav {% block menu_home %}{% endblock %}">
        <a class="baseNavMain" href="{% url home %}">Home</a>
      </span>
      <span class="{% block menu_about %}{% endblock %}">
        <a class="baseNavMain" href="{% url about %}">About Us</a>
        <div class="baseNavSub">
          <ul>
            <li><a href="{% url about %}">Our Philosophy</a></li>
            <li><a href="{% url about %}">The Chapter House</a></li>
            <li><a href="{% url about %}">Chi Phi History</a></li>
            <li><a href="{% url about %}">Beta Chapter History</a></li>
          </ul>
        </div>
      </span>
      <span class="{% block menu_brothers %}{% endblock %}">
        <a class="baseNavMain" href="{% url brothers %}">Brothers</a>
      </span>
      <span class="{% block menu_rush %}{% endblock %}">
        <a class="baseNavMain" href="{% url rush %}">Rush</a>
        <div class="baseNavSub">
          <ul>
            <li><a href="{% url rush %}">Rushing Chi Phi</a></li>
            <li><a href="{% url rush %}">Rush Week Schedule</a></li>
          </ul>
        </div>
      </span>
      <span class="{% block menu_contact %}{% endblock %}">
        <a class="baseNavMain" href="{% url contact %}">Contact</a>
        <div class="baseNavSub">
          <ul>
            <li><a href="{% url contact %}">General</a></li>
            <li><a href="{% url contact %}">Parents</a></li>
            <li><a href="{% url contact %}">Alumni</a></li>
          </ul>
        </div>
      </span>
      {% if user.is_authenticated %}
        <span class="{% block menu_edit_profile %}{% endblock %}">
          <a class="baseNavMain" href="{% url Edit Profile %}">Edit Profile</a>
        </span>
        <span class="{% block menu_logout %}{% endblock %}">
          <a class="baseNavMain" href="{% url logout %}">Logout</a>
        </span>
      {% endif %}
      </div>
    </div>

    <div class="baseContainer cf">
      <div class="baseContent cf">
         {% block content %}{% endblock %}
      </div>
      <div align="center" class="baseFooter">
        <a href="{% url login %}">Login</a> | 
        <a href="{% url brothers %}">About Us</a>
      </div>
    </div>
  </body>
  <script type="text/javascript" src="/static/js/jquery.min.js"></script>
  <script type="text/javascript" src="/static/js/base.js"></script>
  {% block javascripts %}{% endblock %}
</html>
