{% extends "base.html" %}
{% block title %}Contact{% endblock %}
{% block menu_contact %}active{% endblock %}

{% block content %}

<h1>Contact Information</h1>

<h3>For Questions About Rush:</h3>
<p>Ishaan Kumar (Rush Chair) - ikumar@mit.edu</p>
<p>Andrew Cooper (Rush Chair) - coopera@mit.edu</p>
<br>
<h3>For General Inquiries:</h3>
<p>Alex Seo (Publicity Chair) - 203-722-9972, aseo@mit.edu</p>
<p>Yuri Lenskiy (Publicity Chair) - lenskiy@mit.edu</p>
<p>Alex Gilbert (Publicity Chair) - alex_gil@mit.edu</p>
<br>
<h3>For Parents:</h3>
<p>Stephen Frost (Chapter President) - 602-703-8663, stfrost@mit.edu</p>
<p>Mitch Westwood (Resident Advisor) - 937-626-1710, mtwestwood@gmail.com</p>
<br>
<h3>For Alumni:</h3>
<p>Bill Frezza (President of the Alumni Foundation) - 617-417-5916, frezza@alum.mit.edu</p>
<p>Alumni Website: www.betachapter.com</p>
{% endblock %}
