{% extends "base.html" %}

{% block menu_home %}active{% endblock %}

{% block content %}
<h1 style="text-align:center">Chi Phi Rush Schedule</h1>

{# <!-- Using inline styling because content is temporary and only for rush. Old stylings... bad. --> #}
<table style="width:100%"><tbody>
  <tr>
    <td style="width:50%;font-weight:bold;padding-top:20px;">Saturday 9/3</td>
  </tr>
  <tr>
    <td style="width:50%;padding:5px 0;">Chi Phi Pig Roast & Open House</td>
    <td style="width:50%;padding:5px 0;">12:30 - 5 PM</td>
  </tr>
  <tr>
    <td style="width:50%;padding:5px 0;">Chicken Parm Dinner at Chi Phi</td>
    <td style="width:50%;padding:5px 0;">6 - 8 PM</td>
  </tr>
  <tr>
    <td style="width:50%;padding:5px 0;">White Out Party</td>
    <td style="width:50%;padding:5px 0;">10 PM - 2 AM</td>
  </tr>
  <tr>
    <td style="width:50%;font-weight:bold;padding-top:20px;">Sunday 9/4</td>
  </tr>
  <tr>
    <td style="width:50%;padding:5px 0;">All You Can Eat Breakfast at Chi Phi</td>
    <td style="width:50%;padding:5px 0;">9:30 - 10:30 AM</td>
  </tr>
  <tr>
    <td style="width:50%;padding:5px 0;">Paintball with Chi Phi</td>
    <td style="width:50%;padding:5px 0;">10:30 AM - 4 PM</td>
  </tr>
  <tr>
    <td style="width:50%;padding:5px 0;">Burgers with Bros at Chi Phi</td>
    <td style="width:50%;padding:5px 0;">4 - 7 PM</td>
  </tr>
  <tr>
    <td style="width:50%;padding:5px 0;">3D Dodgeball</td>
    <td style="width:50%;padding:5px 0;">6 - 9 PM</td>
  </tr>
  <tr>
    <td style="width:50%;font-weight:bold;padding-top:20px;">Monday 9/5</td>
  </tr>
  <tr>
    <td style="width:50%;padding:5px 0;">Chi Phi House of Pancakes</td>
    <td style="width:50%;padding:5px 0;">9:30 - 11 AM</td>
  </tr>
  <tr>
    <td style="width:50%;padding:5px 0;">Jet-Skiing on the Cape</td>
    <td style="width:50%;padding:5px 0;">11 AM - 5 PM</td>
  </tr>
  <tr>
    <td style="width:50%;padding:5px 0;">Open Mic Night at Chi Phi</td>
    <td style="width:50%;padding:5px 0;">9 - 11 PM</td>
  </tr>
  <tr>
    <td style="width:50%;font-weight:bold;padding-top:20px;">Tuesday 9/6</td>
  </tr>
  <tr>
    <td style="width:50%;padding:5px 0;">Pre-Cruise Dinner at Chi Phi</td>
    <td style="width:50%;padding:5px 0;">5 - 7 PM</td>
  </tr>
  <tr>
    <td style="width:50%;padding:5px 0;">Chi Phi Liberty Clipper Boat Cruise</td>
    <td style="width:50%;padding:5px 0;">7 - 10 PM</td>
  </tr>
  <tr>
    <td style="width:50%;font-weight:bold;padding-top:20px;">Wednesday 9/7</td>
  </tr>
  <tr>
    <td style="width:50%;padding:5px 0;">Fajitas and Tacos at Chi Phi</td>
    <td style="width:50%;padding:5px 0;">5:30 - 7 PM</td>
  </tr>
  <tr>
    <td style="width:50%;padding:5px 0;">Chi Phi Open</td>
    <td style="width:50%;padding:5px 0;">7 - 11 PM</td>
  </tr>
</tbody></table>

{% endblock %}
