{% extends "base.html" %}

{% block menu_edit_profile %}active{% endblock %}

{% block content %}
<div align="center" >
  <form enctype="multipart/form-data" action="" method="post">{% csrf_token %}
    <table><tbody>
      {% for field in form.visible_fields %}
        <tr class="baseForm">
          <td class="baseForm">{{ field.label_tag }}:</td>
          <td class="baseForm">{{ field }}
            {% if field.errors %}
              <span class="baseForm errorText">{% for error in  field.errors %}{{ error }} {% endfor %}</span>
            {% else %}
              {% if field.help_text %}
                <span class="baseForm helpText">{{ field.help_text }}</span>
              {% endif %}
            {% endif %}
          </td>
        </tr>
      {% endfor %}
    <tr class="baseForm">
      <td></td>
      <td class="baseForm"><input class="baseButton" type="submit" value="Update" /></td>
    </tbody></table>
  </form>
</div>
{% endblock %}
