{% extends "brothers/base.html" %}

{% block stylesheets %}
  <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}stylesheets/brother-index.css" />
{% endblock %}

{% block content %}

{% if brothers_alist %}
  {% for p in brothers_alist %}
    <div class="brothersListWrapper">
      <div class="brothersPledgeYear">{{ p.0 }}'s</div>
      <div class="brothersList">
        <ul>
        {% for brother in p.1 %}
        <li>
          <a class="cf" href="/brothers/details/{{brother.fullName}}">
            <div class="brotherPictureWrapper">
              <img src="{{ brother.getPortraitUrl }}" class="brotherPicture"
                  alt="Picture of {{ brother.fullName }}" />
            </div>
            <p class="brotherName">{{ brother.fullName }}</p>
          </a>
        </li>
        {% endfor %}
        </ul>
      </div>
    </div>
  {% endfor %}
{% else %}
  <p>No brothers listed.</p>
{% endif %}

{% endblock %}
