{% extends "brothers/base.html" %}
{% load url from future %}

{% block content %}

{% if form.errors %}
<p>Your username and password didn't match. Please try again.</p>
{% endif %}

<div align="center">
  <form method="post" action="{% url 'django.contrib.auth.views.login' %}">
    {% csrf_token %}
    <table><tbody>
      {% for field in form.visible_fields %}
        <tr class="baseForm">
          <td class="baseForm">{{ field.label_tag }}:</td>
          <td class="baseForm">{{ field }}</td>
        </tr>
      {% endfor %}
      <tr class="baseForm">
        <td></td>
        <td class="baseForm">
          <input type="submit" value="Login" />
          <input type="hidden" name="next" value="{{ next }}" />
        </td>
      </tr>
    </tbody></table>
  </form>
</div>

{% endblock %}
